@model IEnumerable<onlinemissingvehical.Models.MissingVehicle>

<div class="container rounded border p-2 m-2">
    <table id="tblData" class="table table-bordered table-striped table-active">
        <thead>
            <tr>
                <th>Vehicle Type</th>
                <th>Model</th>
                <th>Color</th>
                <th>License Plate Number</th>
                <th>Last Known Location</th>
                <th>Image</th>
                <th>Comment</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.VehicleType</td>
                    <td>@item.Model</td>
                    <td>@item.Color</td>
                    <td>@item.LicensePlateNumber</td>
                    <td>@item.LastKnownLocation</td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.ImageUrl))
                        {
                            <img src="@Url.Content(item.ImageUrl)" alt="Image" style="width: 100px; height: auto;" />
                        }
                        else
                        {
                            <span>No image added</span>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Comment))
                        {
                            @item.Comment
                        }
                        else
                        {
                            <span>No comment added</span>
                        }
                    </td>
                    
                    <td>
                        <a asp-action="Create" asp-route-id="@item.Id" class="btn btn-info">
                            Status
                        </a>
                    </td>

                       @*  <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                            <button type="submit" class="btn btn-danger" id="deleteButton_@item.Id">Delete</button>
                        </form> *@
                   
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#tblData').DataTable();
        });
    </script>
}